<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<main>

    <h1>Login</h1>
    <!-- User Role Selection -->
    <section>
        <h2>Select Role</h2>
        <label>
            <input type="radio" name="role" value="student" checked> Student
        </label>
        <label>
            <input type="radio" name="role" value="faculty"> Faculty
        </label>
        <label>
            <input type="radio" name="role" value="admin"> Admin
        </label>
    </section>

    <!-- Login Form -->
    <section>
        <form id="login-form">
            <label for="login-email">Email:</label>
            <input type="email" id="login-email" name="email" required>
            <br>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>
            <br>
            <button type="button" id="login-btn">Login</button>
        </form>
    </section>
</main>

<script src="login.js"></script>

</body>
</html>
